.background-image {
    /* background-image: url('https://img.fortawesome.com/1ce05b4b/hero-icon-bg.svg'); */
    background-image: url('images/background.png');
    
}

/* ----- BM CLASSES SIZE ------ */

.bm-2xs{
    font-size: .625em;
}

.bm-xs{
    font-size: .75em;
}

.bm-sm{
    font-size: .875em;
}

.bm-lg{
    font-size: 1.25em;
}

.bm-xl{
    font-size: 1.5em;
}

.bm-2xl{
    font-size: 2em;
}

/* BM CLASSES ROTATE */

.bm-rotate-90{
    transform: rotate(90deg);
}

.bm-rotate-180{
    transform: rotate(180deg);
}

.bm-rotate-270{
    transform: rotate(270deg);
}

.text-orange {
    color: #EF5D23 !important;
}

.bg-orange {
    background-color: #EF5D23 !important;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-primary);
}
